/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#container {
  width: 52%;
  margin: 0 auto;
  transition: all 1s ease; }
  @media only screen and (max-width: 1269px) {
    #container {
      width: 55%; } }
  @media only screen and (max-width: 1200px) {
    #container {
      width: 60%; } }
  @media only screen and (max-width: 1100px) {
    #container {
      width: 65%; } }
  @media only screen and (max-width: 1100px) {
    #container {
      width: 65%; } }
  @media only screen and (max-width: 1015px) {
    #container {
      width: 70%; } }
  @media only screen and (max-width: 942px) {
    #container {
      width: 75%; } }
  @media only screen and (max-width: 879px) {
    #container {
      width: 80%; } }
  @media only screen and (max-width: 824px) {
    #container {
      width: 85%; } }
  @media only screen and (max-width: 776px) {
    #container {
      width: 90%; } }
  @media only screen and (max-width: 733px) {
    #container {
      width: 45%; } }
  @media only screen and (max-width: 550px) {
    #container {
      width: 60%; } }
  @media only screen and (max-width: 450px) {
    #container {
      width: 72%; } }

h1 {
  text-align: center;
  margin: 20px;
  font-family: "Monoton", cursive;
  font-size: 100px;
  text-transform: uppercase; }

h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-bottom: 15px; }

ul {
  float: left;
  list-style: none; }

.info {
  position: absolute;
  top: -10px;
  left: 0; }
  .info div {
    width: 100px;
    height: 50px;
    position: absolute; }

.animalIcon {
  float: right;
  height: 300px;
  width: 300px;
  margin: 15px 15px 100px;
  border-radius: 50%;
  background: linear-gradient(gray, lightgray);
  position: relative;
  transition: all 1s ease; }
  .animalIcon img {
    height: auto;
    width: 80%;
    margin: 29px; }
    .animalIcon img.roll {
      animation: roll 2s ease; }
    .animalIcon img.rassle {
      animation: rassle 2s ease; }
    .animalIcon img.squidge {
      animation: squidge 2s ease; }
    .animalIcon img.hop {
      animation: hop 2s ease; }

#armadilloInfo,
#badgerInfo,
#blobfishInfo,
#owlInfo {
  top: 315px;
  left: 50px;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
  padding-top: 10px; }
  #armadilloInfo span,
  #badgerInfo span,
  #blobfishInfo span,
  #owlInfo span {
    font-size: 20px;
    font-weight: bold; }

@keyframes roll {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(720deg); } }
@keyframes rassle {
  0% {
    transform: translateX(0%); }
  11% {
    transform: translateX(50%); }
  22% {
    transform: translateY(20%); }
  33% {
    transform: translateY(-20%); }
  44% {
    transform: translateX(-50%); }
  55% {
    transform: translateY(20%); }
  66% {
    transform: translateY(-20%); }
  77% {
    transform: translateX(50%); } }
@keyframes squidge {
  0% {
    transform: scaleX(1); }
  33% {
    transform: scaleX(1.3); }
  66% {
    transform: scaleY(1.5); } }
@keyframes hop {
  0% {
    transform: translateY(0%); }
  11% {
    transform: translateY(-15%); }
  22% {
    transform: translateY(15%); }
  33% {
    transform: translateY(-15%); }
  44% {
    transform: translateY(15%); }
  55% {
    transform: translateY(-15%); }
  66% {
    transform: translateY(15%); }
  77% {
    transform: translateY(-15%); } }

/*# sourceMappingURL=style.css.map */
