// IMPORTS
@import "partials/reset";

// VARIABLES
$top: 315px;
$border: 1px solid gray;
$headerFont: 'Monoton', cursive;
$textFont: 'Roboto', sans-serif;

// MIXINS
@mixin textBox() {
    font-family: $textFont;
    font-size: 14px;
    color: black;
    text-align: center;
    padding-top: 10px;
}

#container {
    width: 52%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 20px;
    font-family: $headerFont;
    font-size: 100px;
    text-transform: uppercase;
}

ul {
    float: left;
    list-style: none;
}

.animalIcon {
    float: right;
    height: 300px;
    width: 300px;
    margin: 15px 15px 100px;
    border-radius: 50%;
    background: linear-gradient(gray, lightgray);
    position: relative;

    img {
        height: auto;
        width: 80%;
        margin: 29px;
    }
}

.info {
    position: absolute;
    top: -10px;
    left: 0;

    div {
        width: 100px;
        height: 50px;
        position: absolute;
    }
}

#armadilloInfo,
#badgerInfo,
#blobfishInfo,
#owlInfo {
    top: $top;
    left: 50px;
    width: 200px;
    @include textBox;

    span {
        font-size: 20px;
        font-weight: bold;
    }
}
