@import "partials/reset";

#container {
  width: 52%;
  margin: 0 auto;

}

ul {
  float: left;
  list-style: none;
}

  .animalIcon {
    float: right;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 50%;
    background: linear-gradient(gray, lightgray);
    position: relative;

    img {
      height: auto;
      width: 80%;
      margin: 29px;
    }

    .info {
      background: red;
      width: 25px;
      height: 25px;
      position:absolute;
      top: 0;

      li {
        top: 0;
        width: 12px;
        height: 12px;
        background: black;
        position: absolute;
      }
    }
  }
