#container {
    width: 52%;
    margin: 0 auto;
    transition: all 1s ease;
    @include media(1269px) {
        width: 55%;
    }
    @include media(1200px) {
        width: 60%;
    }
    @include media(1100px) {
        width: 65%;
    }
    @include media(1100px) {
        width: 65%;
    }
    @include media(1015px) {
        width: 70%;
    }
    @include media(942px) {
        width: 75%;
    }
    @include media(879px) {
        width: 80%;
    }
    @include media(824px) {
        width: 85%;
    }

    @include media(776px) {
        width: 90%;
    }
    @include media(733px) {
        width: 45%;
    }
    @include media(550px) {
        width: 60%;
    }
    @include media(450px) {
        width: 72%;
    }
}
